.header__logo {
    margin-bottom: 41px;
    padding-top: 43px;
}

@media screen and (max-width: 430px) {
    .header__logo {
        margin-bottom: 31.6px;
        width: 103.74px;
        height: 24.4px;
    }
}