.header__userElements-logout {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: .3s linear opacity;
  }
  
  .header__userElements-logout:hover{
    opacity: .6;
  }
  
  @media screen and (max-width: 561px) {
    .header__userElements-logout {
      font-size: 14px;
    }
  }