.popup__close {
    background-image: url(../../../images/close_button.svg);
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    outline: none;
    background-size: contain;
    top: -40px;
    right: -40px;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: opacity .3s linear;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        right: 0;
        width: 20px;
        height: 20px;
    }
}