.profile__avatar-button {
    background-image: url('../../../../images/Pencil.svg');
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition:  0.6s linear;
    cursor: pointer;
    
  }
  
  .profile__avatar-button:hover {
    opacity: 0.6;
    background-color: black;
  }


  