.elements__like-button {
    background: none;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(../../../images/like_button.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.elements__like-button:hover {
    opacity: 0.6;
}